@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@keyframes ball1 {
    0% { transform: translate(-20vw, 0); }
    25% { transform: translate(0, calc(50vh)); }
    50% { transform: translate(calc(80vw - 100%), calc(80vh - 100%)); }
    75% { transform: translate(calc(50vw), 0); }
    100% { transform: translate(-20vw, 0); }
}

@keyframes ball2 {
    0% { transform: translate(calc(80vw - 100%), calc(80vh - 100%)); }
    25% { transform: translate(calc(60vw - 100%), 0); }
    50% { transform: translate(0, 0); }
    75% { transform: translate(0, calc(100vh - 100%)); }
    100% { transform: translate(calc(100vw - 100%), calc(100vh - 100%)); }
}

@theme {
    --animate-ball1: ball1 40s ease-in-out infinite;
    --animate-ball2: ball2 45s ease-in-out infinite; 
    --font-sora: 'Sora', sans-serif;
}